<div>
	<div class="container">
        <div class="row">
            <div class="text-center welcomeText">
                <h2>Welcome to Venue Finder!</h2>
                <br>
                <p>Find the hottest venues in your area and RSVP where you'll be tonight.</p>
            </div>
        </div>
    </div>
	
	<div class="container">
        <div class="row">
        	<div class="homePageContent">
	        	<p>Enter your location below:</p>
	        	<form id="findVenuesForm" role="form" ng-submit="findVenues()">
	        		<div class="form-group">
	        		    <input type="text" class="form-control" id="location" placeholder="Salt Lake City, UT" ng-model="location">
	        		</div>
	        		<div class="form-group">
	        		    <button type="submit" class="btn btn-lg btn-success">Find venues!</button>
	        		</div>
	        	</form>

	        	<div class="results">
	        		<p class="errorMessage" ng-show="showErrorMessageCannotFindVenues">Sorry, something's not right! Please try again later.</p>
	        		<p class="errorMessage" ng-show="showErrorMessageNoVenuesMatch">Sorry, we couldn't find any venues that match your search. Please try a different location or key words.</p>
	        		<div class="venuesFound" ng-show="showVenues">
	        			<div class="venue" ng-repeat="venue in venues">
	        				<div class="imageLeft">
	        					<img ng-src="{{ venue.image_url }}" class="venueImage" />
	        				</div>
	        				<div class="textInfoRight">
	        					<h4 class="venueName"><a ng-href="{{ venue.url }}">{{ venue.name }}</a></h4>
	        					<p class="rating">Rating: {{ venue.rating }} stars</p>
	        				</div>
	        			</div>
        			</div>
	        	</div>
	        </div>
        </div>
    </div>
</div>